<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-text mx-3">DroneShop Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Products
  </div>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/products">
          <i class="fas fa-fw fa-helicopter"></i>
          <span>Products</span>
      </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Transactions
  </div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="/admin/transactions/waiting-payment">
          <i class="fas fa-fw fa-dollar-sign"></i>
          <span>Waiting for payment</span>
      </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-boxes"></i>
        <span>Waiting for delivery</span>
    </a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-truck"></i>
          <span>Delivery</span>
      </a>
  </li>
  
  <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-check-circle"></i>
          <span>Shipped</span>
        </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->